<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="EndpointService" />
                <binding name="EndpointService1" />
                <binding name="EndpointService2" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1907/" binding="wsDualHttpBinding"
                bindingConfiguration="EndpointService" contract="ServiceReference1.IServiceCallback"
                name="EndpointService">
                <identity>
                    <userPrincipalName value="ACHI\ACHI" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:1907/" binding="wsDualHttpBinding"
                bindingConfiguration="EndpointService2" contract="ServiceReference2.IServiceCallback"
                name="EndpointService2">
                <identity>
                    <userPrincipalName value="ACHI\ACHI" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>